@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.random-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Rubik' !important;
    color: #444;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: beat .4s infinite alternate;
	transform-origin: center;
}
.random-text::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(136deg);
    margin-top: -5px;
}
@keyframes beat{
	to { transform: scale(1.1); }
}